
body{
    background-color: #839b5e;
    resize: vertical;
}

.head1
{
    height: 100px;
    width: 100%;
    background-color: #87B049;
    resize: vertical;
}

.img1
{
    height: 80px;
    width: 300px;
    resize: vertical;
}

.btn {
    position: absolute;
    left: auto;
    resize: vertical;

}

a {
    background-color: black;
    color: white;
    padding: 2px 4px;
    text-decoration: none;
    text-transform: uppercase;
    resize: vertical;
}



.employeename{
    position: absolute;
    right: 14%;
    height: 5px;
    font-size: 14px;
    font-family: Segoe UI Symbol, monospace;
    font-weight: bold;
    top: 0;
    resize: vertical;
}

.employeeposition{
    position: fixed;
    right: 17%;
    height: 20px;
    font-size: 14px;
    font-family: Segoe UI Symbol, monospace;
    font-weight: bold;
    top: 6%;
    resize: vertical;
}

.employeeidnumber{
    position: fixed;
    right: 310px;
    height: 20px;
    font-size: 14px;
    font-family: Segoe UI Symbol, monospace;
    font-weight: bold;
    top: 9%;
    resize: vertical;

}
hr {
    display: block;
    margin: auto;
    border-style: solid;
    border-width: 4px;
    border-color: #b04989;
    resize: vertical;
}

.vl {
    position: absolute;
    border-left: 6px solid #49B087;
    height: 100%;
    left: 25%;
    top: 15%;
    resize: vertical;
}
.footer {
    position: fixed;
    bottom: 5%;
    height: 2%;
    width: 1685px;
    resize: vertical;
}
.marq{
    font-size: 22px;
    height: 20px;
    color: #0c0c0c;
    resize: vertical;
}
.horizon {
    display: block;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 4px;
    border-color:  #b04989;
    resize: vertical;
}
.clock {
    padding-top: 10px;
    margin-left: 80px;
    width: auto;
    height: auto;
    font-weight: bold;
    color:  #87B049;
    font-size: 50px;
    resize: vertical;
}
.labeltimesheet{
    position: absolute;
    padding-top: 80px;
    left: 525px;
    color: #87B049;
    font-weight: bold;
    resize: vertical;
}
.table1 {
    position: absolute;
    font-family: Arial, sans-serif;
    left: 30%;
    width: 60%;
    height: 50%;
    border-collapse: collapse;
    font-weight: bolder;
    resize: vertical;

}
th, td{
    border: 2px solid black;
    text-align: center;
    width: auto;
}

tr:nth-child(1) {
    background-color: #666666;
}
.labellates{

    position: absolute;
    margin-left: 30%;
    bottom: 15%;
    font-weight: bolder;
    color:  #87B049;
}

.labelpresent{

    position: absolute;
    margin-left: 55%;
    bottom: 15%;
    font-weight: bolder;
    color:  #87B049;
}

.labelabsent{

    position: absolute;
    margin-left: 80%;
    bottom: 15%;
    font-weight: bolder;
    color:  #87B049;

}



.timein{
    color: white;
    text-align: center;
    font-size: 20px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10%;
    left: 167px;
    bottom: 450px;
    background-color: green;
}


.timeout{
    color: white;
    text-align: center;
    font-size: 20px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10%;
    left: 167px;
    bottom: 450px;
    background-color: red;
}


input[type=text], input[type=password], input[type=email], input[type=date], input[type=tel]
{
    position: center;
    width: 20%;
    padding: 10px;
    display: inline-block;
    border: 2px solid;
    background: #f1f1f1;
    resize: vertical;
}
.userdetails{
    position: absolute;
    font-size: 30px;
    left: 44%;
    top: 17%;
    resize: vertical;
}
.personal {
    position: absolute;
    border: 2px black groove;
    background-color: #87B049;
    font-size: 30px;
    left: 31%;
    top:33%;
}
.table2 {
    position: absolute;
    display: table-column;
    background-color: #565656;
    top: 25%;
    left: 10%;
}
.account {
    position: absolute;
    border: 2px black groove;
    background-color: #87B049;
    font-size: 30px;
    left: 56%;
    top:33%;
}
.compinfo {
    position: absolute;
    border: 2px black groove;
    background-color: #87B049;
    font-size: 30px;
    left: 56%;
    bottom: 30%;
}
.edit{
    position: absolute;
    border: 2px black groove;
    background-color: #87B049;
    font-size: 20px;
    left: 46%;
    bottom: 30%;
}
.create{
    position: absolute;
    border: 2px black groove;
    background-color: #87B049;
    font-size: 20px;
    left: 44%;
    bottom: 20%;
}

.dropbtn {
    background-color: #87B049;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #87B049;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    left: 55px;
    bottom: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #87B049;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.avatar {

    float: right;
    padding-right: 450px;
    top: 50px;


}
.editAvatar{
    bottom: 20px;
    height: 250px;
    width: 250px;
    padding-left: 3%;
    padding-top: 7%;
    resize: vertical;
}
{
box-sizing: border-box;
}
.container-e{
    border-radius: 5px;
    background-color: #4989b0;
    padding-left: 20%;

}
.label-e{
    padding: 12px 12px 12px 0;
    display: inline-block;
    text-align: left;
    float: left;
    width: 75%;
    margin-top: 2px;
}
.col-emp{
    width: 80%;
    margin-top: 5px;
    padding-left: 60px;
    border-radius: 5px;
}
.container-ryt{
    border-radius: 5px;
    background-color: #4989b0;
    padding-left: 20%;

}
.label-ryt{
    padding: 12px 12px 12px 0;
    width: 55%;
    float: right;
    margin-top: 2px;
}
.col-ryt{
    width: 50%;
    margin-top: 5px;
    padding-right: 60px;
    float: right;
}


@media screen and (max-width: 600px) {
    .avatar, .employeeidnumber, .employeename, .employeeposition, .head1, .hr{
        width: 100%;
        margin-top: 0;
    }
}


